
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: hsl(187, 68%, 73%);
    color: #333;
    font-family: sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

main {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
    text-align: center;
}

header {
    background-color: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}



.place-card, .review-card {
    /* Fixed Parameters: */
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px; 
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
}

#places-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.details-button {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.add-review-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}


a.logo {
    display: block;
    width: 150px; 
    height: auto;
}

#login-form, .add-review .form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

#login-form input, #login-form button,
.add-review .form textarea, .add-review .form select, .add-review .form button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.place-details {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}

.place-info p {
    margin: 5px 0;
}

.nav-right a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.nav-right a:hover {
    text-decoration: underline;
    color: #007bff;
}